<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="storageMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <ion-img src="./assets/204212.jpg" style="padding-bottom: 10px; width: 170px; height: 170px; position: absolute; top: 15%; display: block; left: 50%; transform: translate(-50%, -50%);"></ion-img>
  </ion-avatar>
  <ion-grid>
    <ion-row>
      <ion-col style="padding-top: 7em;">
        <h1 style="text-align: center;">Bella Anggraini Utomo</h1>
        <h2 style="text-align: center;">00000026139 - CL</h2>
      </ion-col>
    </ion-row>
    <ion-col>
      <ion-item>
        Saya mengerjakan sendiri, dengan bantuan modul week 1 sampai 7 dan referensi dari ionic documentation
        serta website lain. Saya menggunakan ion-slides untuk membuat foto carousel. 
        Libary luar yang saya pakai adalah npm long press untuk multi delete
      </ion-item>
    </ion-col>
    <ion-row>
      <ion-col>
        <ion-item> Sumber : </ion-item>
        <ion-item>https://www.npmjs.com/package/ionic-long-press</ion-item>
        <ion-item>https://ionicframework.com/docs</ion-item>
        <ion-item>https://steemit.com/utopian-io/@yalzeee/ionic-4-implementing-hold-and-press-multiple-select-feature-in-ionic-4</ion-item>
        <ion-item>https://stackoverflow.com/questions/50187097/implement-multi-select-feature-long-press-hold-and-select-in-ionic</ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
