<ion-app>
  <ion-menu side="start" menuId="storageMenu">
    <ion-header>
      <ion-toolbar>
        <ion-title>UMN Storage</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="storageMenu">
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="storageMenu">
          <ion-item lines="none" routerLink="/admin">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>Admin</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="storageMenu">
          <ion-item lines="none" routerLink="/about">
            <ion-icon name="accessibility-outline" slot="start"></ion-icon>
            <ion-label>About App</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-menu-toggle menu="storageMenu" >
      <ion-item lines="none" routerLink="/recipes/tabs/creations">
        <ion-icon name="exit-outline" slot="start"></ion-icon>
        <ion-label>Exit</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-menu>
<ion-router-outlet main></ion-router-outlet>
</ion-app>
