<ion-header>
  <ion-toolbar>
    <ion-title>Edit Produk</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
  <form #formedit="ngForm" (ngSubmit)="onSubmit(formedit)">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">URL Foto (Separate with comma)</ion-label>
        <ion-input type="text"
                   [(ngModel)] = "uimg"
                   name="image"
                   #imageCtrl="ngModel"
                   required></ion-input>
      </ion-item>
      <ion-item *ngIf="!imageCtrl.valid && imageCtrl.touched">
        <ion-label>Should be a valid URL </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Jenis</ion-label>
        <ion-input [(ngModel)] = "param.category"
                    disabled
                    name="jenis"
                    #jenisCtrl="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nama</ion-label>
        <ion-input type="text"
                   [(ngModel)] = "param.merek"
                   name="merek"
                   #merekCtrl="ngModel"
                   required></ion-input>
      </ion-item>
      <ion-item *ngIf="!merekCtrl.valid && merekCtrl.touched">
        <ion-label>Should be a valid Merek </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Model</ion-label>
        <ion-input type="text"
                   [(ngModel)] = "param.model"
                   name="model"
                   #modelCtrl="ngModel"
                   required></ion-input>
      </ion-item>
      <ion-item *ngIf="!modelCtrl.valid && modelCtrl.touched">
        <ion-label>Should be a valid Model </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Harga</ion-label>
        <ion-input type="text"
                   [(ngModel)] = "param.harga"
                   name="harga"
                   #hargaCtrl="ngModel"
                   required></ion-input>
      </ion-item>
      <ion-item *ngIf="!hargaCtrl.valid && hargaCtrl.touched">
        <ion-label>Should be a valid Harga </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Stock</ion-label>
        <ion-input type="number"
                   [(ngModel)] = "param.stok"
                   name="stock"
                   #stockCtrl="ngModel"
                   required></ion-input>
      </ion-item>
      <ion-item *ngIf="!stockCtrl.valid && stockCtrl.touched">
        <ion-label>Should be a valid Stock</ion-label>
      </ion-item>
      <!-- <ion-item style="visibility: hidden;"> -->
        <ion-input style="visibility: hidden;" type="text" [(ngModel)] = "param.id" #idCtrl="ngModel" name="id"></ion-input>
      <!-- </ion-item> -->
    </ion-list>
    <ion-item>Detail Produk</ion-item>
    <ion-list *ngIf="jenisCtrl.value == 'CPU'">
      <ion-item>
        <ion-label position="stacked">Base Clock</ion-label>
        <ion-input type="text"
                   [(ngModel)] = "param.baseclock"
                   name="baseclock"
                   required
                   #baseclockCtrl="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Boost Clock</ion-label>
        <ion-input type="text"
                   [(ngModel)] = "param.boostclock"
                   name="boostclock"
                   required
                   #boostclockCtrl="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Core</ion-label>
        <ion-input type="text"
                   [(ngModel)] = "param.core"
                   name="core"
                   required
                   #coreCtrl="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Thread</ion-label>
        <ion-input type="text"
                   [(ngModel)] = "param.thread"
                   name="thread"
                   required
                   #threadCtrl="ngModel"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="jenisCtrl.value == 'RAM'">
      <ion-item>
        <ion-label position="stacked">Speed</ion-label>
        <ion-input type="text"
                   [(ngModel)] = "param.speed"
                   name="speed"
                   required
                   #speedCtrl="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ukuran</ion-label>
        <ion-input type="text"
                   [(ngModel)] = "param.ukuran"
                   name="ukuran"
                   required
                   #ukuranCtrl="ngModel"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="jenisCtrl.value == 'Motherboard'">
      <ion-item>
        <ion-label position="stacked">Chipset</ion-label>
        <ion-input type="text"
                   [(ngModel)] = "param.chipset"
                   name="chipset"
                   required
                   #chipsetCtrl="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Processor</ion-label>
        <ion-input type="text"
                   [(ngModel)] = "param.processor"
                   name="processor"
                   required
                   #processorCtrl="ngModel"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" (click)="onLogin()"
    [disabled]="formedit.invalid">Edit</ion-button>
  </form>
</ion-content>